In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

df = pd.read_csv("music.csv")
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [3]:
model = linear_model.LinearRegression()
model.fit(df[['age']],df.gender)

LinearRegression()

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
model.coef_

array([0.00559354])